body {
    margin: 0 auto;
    width: 80vw;

}
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    min-height: 300px;
    padding: 1em;
    border: 2px solid black;
    background-color: lightcoral;
    margin: 8px;
    /* display: inline-block; */
}
